<div class="header">
    <%= link_to new_tweet_path , class: "image" do %>
        <%= image_tag "tweet.png" %>
    <% end %>
</div>

<div class="main flexContainer">
    <div class="profile">    
        profile
    </div>

    <div class="tweets">
        <% @tweets.each do |tweet| %>
            <div class = "tweet" onclick = showTweet()>
                <%= tweet.body %>
            </div>
        <% end %>
    </div>
</div>

